{% extends "base.html" %}

{% block title %}My Desmos Workshop{% endblock %}

{% block page_content %}
    <h2>
    	My Desmos Workshop
    </h2>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/jxt87yyisf" target="_blank">Demo 1: Desmos Basics</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/qmagt4cjby" target="_blank">Demo 2: The Secant Line Approaches the Tangent Line</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/xzlhq2artk" target="_blank">Demo 3: Polar Graphs and Parametric Equations (2D)</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/izkxu0mqsl" target="_blank">Demo 4: Simple Harmonic Motion</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 5: Tangent Line and Polar Graphs</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 6:  Limit Concept</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator" target="_blank">Demo 7:  Taylor Polynomials</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 8:  Circle of Curvature</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 9:  Rotating a Parabola and More</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 10:  Newton's Method</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 11:  The Mean Value Theorem</a>
    </p>
</div>

<div class="container">
    <p>
        <a href="https://www.desmos.com/calculator/" target="_blank">Demo 12:  Area under the Normal Curve</a>
    </p>
</div>

    <h2>
        Videos from Mathispower4u
        http://www.mathispower4u.com/ti-alternatives.php
    </h2>

        <div>
            These videos are ready to go.  Share them with students or use them to learn more about Desmos.  Each shows an instructor using Desmos to enhance the presentation of the topic.  They include extensive notes on the topics, explanations of how to use Desmos, and each is ADA compliant.
        </div>

        <h2>Calculus Videos</h2>
        
        <div>
            Analyze a Graph Using Desmos to Determine Key Components of a Quadratic (Incr / Decr / Extrema)
            https://youtu.be/rGBcICGwnzE
        </div>

        <div>
            Analyze a Graph Using Desmos to Determine Key Components of a Cubic (Incr / Decr / Extrema)
            https://youtu.be/PqbgvRewaPo
        </div>
        
        <div>
            Determine Local (Relative) Extrema of a Polynomial Function Using Desmos
            https://youtu.be/iIMNdCJmiY0
        </div>

        <div>
            Ex 1: Determine the Local / Relative Extrema of a Cubic Function Using Desmos
            https://youtu.be/dbP8KjA-s-s
        </div>

        <div>
            Ex 2: Determine the Local / Relative Extrema of a Cubic Function Using Desmos (Challenging)
            https://youtu.be/_dAslDJ07Ws
        </div>

        <h2>Some other instructive and interesting videos</h2>

        <div>
            Evaluate Various Expressions Using Desmos (Graphing Calculator)
            https://youtu.be/1TNG0LII4a0
        </div>

        <div>
            Entering and Evaluating Various Expressions on the Desmos Scientific Calculator
            https://youtu.be/XKv-WMju5iU
        </div>


        <div>
            Exploring Transformations of Sine and Cosine: y=Asin(B(x-C))+D
            https://youtu.be/zbdXAp_gHMU
        </div>

        <div>
            Animations of the Graphs of Cosine and Sine Using the Unit Circle (Desmos)
            https://youtu.be/Kn8YBCXrMJ4
        </div>

        <div>
            Graph a Piecewise Defined Function Using Desmos (3 parts)
            https://youtu.be/_U4vsqH06SQ
        </div>

















    </head>


{% endblock %}