{% extends "base.html" %}

{% block title %}My Desmos Workshop{% endblock %}

{% block page_content %}
       	
        <div class="container">
        My Desmos Workshop
            <br>
            <a href="https://www.desmos.com/calculator/l6bsiu1k5z" target="_blank">Demo 1: Desmos Basics</a>
            <br>
            <a href="https://www.desmos.com/calculator/cyayavewhp" target="_blank">Demo 2: Polar, Implicit, Parametric Graphs</a>
            <br>
            <a href="https://www.desmos.com/calculator/mn0ssqui4m" target="_blank">Demo 3: Secant Line Approaches the Tangent Line</a>
            <br>
            <a href="https://www.desmos.com/calculator/s9cjoktnbi" target="_blank">Demo 4: Simple Harmonic Motion</a>
            <br>
            <a href="https://www.desmos.com/calculator/7xxeaj2ie8" target="_blank">Demo 5: Newton's Method</a>
            <br>
            <a href="https://www.desmos.com/calculator/1vxrvvxcna" target="_blank">Demo 6: Mean Value Theorem</a>
            <br>
            <a href="https://www.desmos.com/calculator/wjfc7cw4ej" target="_blank">Demo 7:  Limit Concept</a>
            <br>
            <a href="https://www.desmos.com/calculator/1t5mfgyrsy" target="_blank">Demo 8:  Taylor Polynomials</a>
            <br>
            <a href="https://www.desmos.com/calculator/36tuuvo0z5" target="_blank">Demo 9:  Circle of Curvature</a>
            <br>
            <a href="https://www.desmos.com/calculator/pbkpybhjfj" target="_blank">Demo 10:  Polar Conic Sections</a>
            <br>
            <a href="https://www.desmos.com/calculator/ymb4zb0jld" target="_blank">Demo 11:  Riemann Sum and the Integral</a>
            <br>
            <a href="https://www.desmos.com/calculator/y6oqs0w9pm" target="_blank">Demo 12:  Lagrange Multipliers</a>
            <br>
            <a href="https://www.desmos.com/calculator/udes0tiydk" target="_blank">Demo 13:  Rotating a Parabola and More</a>
            <br>
            <a href="https://www.desmos.com/calculator/0i0oebdu6j" target="_blank">Demo 14:  Euler Method</a>
            <br>
            <a href="https://www.desmos.com/calculator/ttl9h2ry5f" target="_blank">Demo 15:  Spirograph (Parametric Equations)</a>
        </div>

        <div class="container">
            <br>
                <a href="http://www.mathispower4u.com/ti-alternatives.php" target="_blank">Videos from Mathispower4u</a>
            <br>
        
            These videos are ready to go.  Share them with students or use them to learn more about Desmos.  Each shows an instructor using Desmos to enhance the presentation of the topic.  They include extensive notes on the topics, explanations of how to use Desmos, and each is ADA compliant.
        </div>
        
        <div class="container">
        <br>
        Some Calculus Videos
        <br>
            <a href="https://youtu.be/rGBcICGwnzE" target="_blank">Analyze a Graph Using Desmos to Determine Key Components of a Quadratic (Incr / Decr / Extrema)</a>
        <br>
            <a href="https://youtu.be/PqbgvRewaPo" target="_blank">Analyze a Graph Using Desmos to Determine Key Components of a Cubic (Incr / Decr / Extrema</a>           
        <br>
            <a href="https://youtu.be/iIMNdCJmiY0" target="_blank">Determine Local (Relative) Extrema of a Polynomial Function Using Desmos</a>
        <br>
            <a href="https://youtu.be/dbP8KjA-s-s" target="_blank">Ex 1: Determine the Local / Relative Extrema of a Cubic Function Using Desmos</a>
        <br>
            <a href="https://youtu.be/_dAslDJ07Ws" target="_blank">Ex 2: Determine the Local / Relative Extrema of a Cubic Function Using Desmos (Challenging)</a>
    </div>
    <div class="container">
        <br>
        Some other interesting and instructive videos
        <br>
            <a href="https://youtu.be/1TNG0LII4a0" target="_blank">Evaluate Various Expressions Using Desmos (Graphing Calculator)</a>
        <br>
            <a href="https://youtu.be/XKv-WMju5iU" target="_blank">Entering and Evaluating Various Expressions on the Desmos Scientific Calculator</a>
        <br>

        <a href="https://youtu.be/zbdXAp_gHMU" target="_blank">Exploring Transformations of Sine and Cosine: y=Asin(B(x-C))+D</a>
        <br>
            <a href="https://youtu.be/Kn8YBCXrMJ4" target="_blank">Animations of the Graphs of Cosine and Sine Using the Unit Circle (Desmos)</a>
        <br>
        <a href="https://youtu.be/_U4vsqH06SQ" target="_blank">Graph a Piecewise Defined Function Using Desmos (3 parts)</a>
        <br>
    </div>

    <div class="container">
        <br>
        Some advanced examples from Desmos.com
        <br>
            <a href="https://www.desmos.com/calculator/b6l9e3gggj" target="_blank">Advance spirographs</a>
        <br>   
            <a href="https://www.desmos.com/calculator/ndeaxiwn3x" target="_blank">Double Pendulum</a>
    </div>
{% endblock %}