{% extends "base.html" %}

<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/alex_site_new.css') }}" />

{% block page_content %}

<container>
	<img src="{{ url_for('static', filename='first_algorithm.jpg') }}" width="200" />
	<div class="myProfile">
	    <p>
	    	I am a Mathematics professor at Hillsborough Community College in Tampa, Florida. My interests include mathematics, computer science, music, running, and reading.
	    </p>
	</div>
</container>
{% endblock %}
