{% extends "base.html" %}

{% block title %}Index{% endblock %}


{% block page_content %}

<container>
	<table>
	<tr>
		<td  width="500">
		<div class="myProfile">
	 
	    <p>
	    	Welcome to my website. &nbsp I am a retired Mathematics professor.  &nbsp My interests include natural language processing, music, and fitness training.
	    </p>
	    

		</div>
		</td>
	<td align='center'>
	<figure>
    	<a href="https://en.wikipedia.org/wiki/Ada_Lovelace">
    		<img alt="first_algorithm" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Diagram_for_the_computation_of_Bernoulli_numbers.jpg" width="300" height="140">
    	</a>

	<!--
		<img src="{{ image_file }}" width="150" alt="first_algorithm*" />
		<figcaption align = "center">Ada Lovelace's Algorithm</figcaption>
	-->
	</figure>
	Ada Lovelace's Algorithm
	</td>
	</tr>
	</table>
	</container>
	<container>

			New Diffusion Models for creating images from text descriptions 
			From OpenAI
			<a href="https://openai.com/dall-e-2/">DALL&#8901E 2 </a> "... can create original, realistic images and art from a text description. It can combine concepts, attributes, and styles."
			From Google Research
				<a href="https://imagen.research.google/">Imagen</a>: "... a text-to-image diffusion model with an unprecedented degree of photorealism and a deep level of language understanding." 



			My Contact Info
			<br>
			<a href="mailto:aambrioso1@gmail.com">email: aambrioso1@gmail.com</a>
			<br>
			<a href="mailto:aambrioso@usf.edu">email: aambrioso@usf.edu</a>
			<br>
			<a href="https://github.com/aambrioso1">github</a>
	</container>
{% endblock %}
