{% extends "base.html" %}

{% block title %}Index{% endblock %}


{% block page_content %}

<container>
	<table>
	<tr>
		<td  width="500">
		<div class="myProfile">
	 
	    <p>
	    	Welcome to my website. &nbsp I am a Mathematics professor at Hillsborough Community College in Tampa, Florida. &nbsp My interests include mathematics, computer science, music, running, and reading.
	    </p>
	    

		</div>
		</td>
	<td align='center'>
	<figure>
    	<a href="https://en.wikipedia.org/wiki/Ada_Lovelace">
    		<img alt="first_algorithm" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Diagram_for_the_computation_of_Bernoulli_numbers.jpg" width="300" height="140">
    	</a>

	<!--
		<img src="{{ image_file }}" width="150" alt="first_algorithm*" />
		<figcaption align = "center">Ada Lovelace's Algorithm</figcaption>
	-->
	</figure>
	Ada Lovelace's Algorithm
	</td>
	</tr>
	</table>
	</container>
	<container>
			Contact Info
			<br>
			<a href="mailto:aambrioso1@gmail.com">email</a>
			<br>
			<a href="https://github.com/aambrioso1">github</a>
	</container>
{% endblock %}
