{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alex's Projects{% endblock %}</title>
</head>

{% block page_content %}
<body>
<div class="container">
	<ul>
		<li>PyCon Tutorials (Virtual on May 12th and 13th at 3 pm)</li>
	    <li>PyCon!!! (Virtual all day May 14th and 15th)</li>
	    <li><a href=https://training.talkpython.fm/courses/full-html-web-applications-with-fastapi target="_blank">Full Web Apps with FastAPI Course</a> (ongoing)</li>
	    <li>Back to Classes all using Open Educational Resources (August 16th to December 7)	
		<li>Python for General Education Instruction (sabbatical project Due October 1st)</li>
	    <li>Engineering Society Programming Project (weekly on Fridays at 9:30 am on Discord)</li>
	    <li>Engineering Society (weekly on Fridays at 10:30 am)</li>
	    <li>Desmos Workshop for HCC Math Grant Faculty (Tentatively August 12th)</li>
	    <li>
	    	<a href="https://sites.google.com/view/amhr" target="_blank">Work with AMHR Lab at USF</a>
	    	(weekly on Tuesdays)
	    </li>
	    <li>Great Books Discussion Group (Bloomingdale Regional Library monthly on Zoom)</li>
	
	</ul>
</div>
</body>
{% endblock %}
</html>
