{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alex's Projects{% endblock %}</title>
</head>

{% block page_content %}
<body>
<div class="container">
	<ul>
	    <li>Retirement (May 10th to present)</li>
	    <li>Research <a href="https://github.com/aambrioso1/Natural_Language_Understanding">Study NLU</a></li>
		<li>Study <a href="https://www.greenteapress.com/thinkcpp/" target="_blank">Study C++</a>
		<li>Study <a href="https://anaconda.cloud/pyscript-python-in-the-browser" target="_blank">PyScript</a>
		<li>Study <a href="https://arielortiz.info/pycon2022/", target="_blank">WebAssembly</a></li>
		<li>Study <a href="https://github.com/aambrioso1/c_programs" target="_blank">C</a>
	    <li>Work with USF Professor Dr. Licato's <a href="https://sites.google.com/view/amhr" target="_blank">AMHR Lab</a></li>
	    <li>Study <a href="http://people.csail.mit.edu/hubert/pyaudio/" target="_blank">PyAudio</a>
	    <li>Notes for <a href="https://github.com/aambrioso1/Fluent_Python" target="_blank">Fluent Python</a></li>
	    <li>Work on <a href="https://training.talkpython.fm/courses/full-html-web-applications-with-fastapi" target="_blank">Full Web Apps with FastAPI Course </li>
	   	<li><a href="http://tampagreatbooks.org/more-area-book-discussions/#Bloomingdale" target="_blank">Great Books Discussion Group (Bloomingdale Regional Library monthly on Zoom)</li>
	</ul>
</div>
</body>
{% endblock %}
</html>